@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');


* {
    box-sizing: border-box;
}

/* Element styles */
body {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto
}

h1 {
    margin-top: 0;
    padding: 1em;
    color: #2aaee2;
    text-shadow: -3px 3px 2px black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #aaa;
    width: 100%;
    margin-top: 0;
}

footer {
    background-color: #aaa;
}
.main-nav a {
    display: inline-block;
    width: 90%;
    background-color: #fff;
    padding: 0.8em 0;
    margin-bottom: 5px;
    border-radius: 10px;
}

nav a,
h2,
h4 {
    text-transform: uppercase;
}

nav a:hover,
.back-to-top:hover {
    background-color: #eb9234;
    transition: 1s;
    color: #fff;
}

h2 {
    padding: 1.5em;
}
h3 {
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: normal;
}
h4 {
    padding-top: 2em;
}

img {
    width: 90%;

}

span {
    font-weight: bold;
}

.bio {
    padding: 3em 0;
    width: 90%;
    margin: 0 auto;
}

.bio-img {
    width: 60%;
    padding-bottom: 1.5em;
}

p {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
}

.card p {
    width: 80%;
}

.contact-info {
    padding-bottom: 1em;
}
#contact {
    padding: 2em 0;
}
.main-footer {
    width: 90%;
    border-top: 1px solid black;
    margin: 0 auto;
}
.bottom-links {
    display: inline-block;
    padding-top: 1em;
}
.name {
    float: left;
}
.back-to-top {
    float: right;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
}
.footer-nav {
    display: none;
}

/* Clearfix  */

.clearfix {
    content:"";
    display:table;
    clear:both;
}

/* Media Queries */

@media (min-width: 768px) {
    .main-nav a {
        display: inline;
        background-color: #aaa;
        padding: 0.5em 1em;
    }
    .bio-img {
        width: 40%;
        float: right;
    }
    .bio-text {
        width: 60%;
        float: left;
        text-align: left;
        padding-right: 1em;
    }
    .card {
        width: 50%;
        float: left;
        padding: 1em;
    }
    .card h3 {
        padding: 0;
    }
    
    #contact {
        width: 70%;
        margin: 0 auto;
        padding: 0 0 2em 0;
    }
    .back-to-top {
        display: none;
    }
    .footer-nav {
        display: inline-block;
        float: right;
        padding: 0.5em;
        margin: 0.5em;
    }
    .footer-nav a {
        padding: 0.5em;
    }
    .interests-image-2 {
        padding-bottom: 25%;
    }
}

@media (min-width: 1024px) {
    h1 {
        float: left;
    }
    .main-nav {
        float: right;
        margin-top: 2em;
    }
    .headline {
        width: 90%;
        margin: 0 auto;
    }
    .bio {
        padding-top: 0;
    }
    .portfolio,
    .interests {
        width: 90%;
        margin: 0 auto;
    }
    .card {
        width: 33%;
        padding: 0 0 1em 0;
    }
    .contact-info {
        width: 60%;
    }

}